# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.env.*
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml

# Database
db.sqlite3

# Локальні медіа файли (їх можна монтувати через томи)
# media/

# Тести
.coverage
htmlcov/ 